@font-face {
	font-family: "fuenteelegida" ;
	src: url("fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
body{
    background-color: #050834;
	font-family: 'fuenteelegida';
}
h1{
    color: #ffffff;
}
div{
    width: 90%;
}
img{
	height: 400px;
    margin-left: 20%;
    margin-right: 20%;
}
.texto{
    width: 100%;
    background-color: #061761;
    text-align: center;
	color: #ffffff;
}
.grupo_fotos{
    background-color: #0b1957;
	width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.fotos{
    background-color: #050834;
	width: 30%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #75baff;
	background:linear-gradient(to bottom, #026a9e 5%, #0d2f47 100%);
	background-color:#026a9e;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0d2f47 5%, #026a9e 100%);
	background-color:#0d2f47;
}
.myButton:active {
	position:relative;
	top:1px;
}
.texto7{
	width: 100%;
	text-align: center;
	color: #ffffff;
}
#texto7 a{
	text-decoration: none;
	border-radius: 5px;
	color: #ffffff;
}
#listanav a{
	text-decoration: none;
	border-radius: 5px;
	color: #ffffff;
}
#listanav a:hover{
	text-decoration: none;
	border-radius: 5px;
	color: #ffffff;
	background-color: #75baff;
}
#listanav li{
	display: inline-block;
	padding: 5px;
}
.tabla1 th{
	background-color: #5a84af;
	border: #000000;
	border-style: double;
	color: #ffffff;
}

.tabla2 th{
	background-color: rgb(184, 75, 75);
	border: black;
	border-style: double;
	color: #ffffff;
}
