@font-face {
	font-family: "fuenteelegida" ;
	src: url("fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
body{
    background-color: #5c0000;
	font-family: 'fuenteelegida';
}
h3{
    color: #ffffff;
}
div{
    width: 90%;
}
img{
	height: 400px;
    margin-left: 20%;
    margin-right: 20%;
}
.texto2{
    width: 100%;
    background-color: #7b0202;
    text-align: center;
	color: #ffffff;
}
.grupu_fotos2{
	background-color: #5c0000;
	width: 100%;
	display: flex;
    justify-content: center;
}
.fotos{
	background-color: #5c0000;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #e62d1c 5%, #471212 100%);
	background-color:#e62d1c;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background:linear-gradient(to bottom, #471212 5%, #e62d1c 100%);
	background-color:#471212;
}
.myButton:active {
	position:relative;
	top:1px;
}
.texto3{
	width: 100%;
	text-align: center;
	color: #ffffff;
}
#listanav a{
	text-decoration: none;
	border-radius: 5px;
	color: #ffffff;
}
#listanav a:hover{
	text-decoration: none;
	border-radius: 5px;
	color: #ffffff;
	background-color: #8b0303;
}
#listanav li{
	display: inline-block;
	padding: 5px;
}

